body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color:inherit;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.3rem;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-nav {
  display: inline-block;
  margin-right: 20px;
}

.nav-item {
  display: inline-block;
  padding-left: 20px;
}

.nav-link {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: #0366d6;
}

.navbar-toggler {
  display: none;
}

/* open weather material style */

#forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast-card {
  width: 500px;
  height: 500px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow: hidden;
}

.forecast-header {
  background-color: #2196F3;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.forecast-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconUrl {
  width: 300px;
  height: 500px;
  margin-bottom: 20px;
}

.forecast-temperature {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forecast-description {
  font-size: 18px;
  color: #333;
}

.card-img-top {
  background-size: contain;
  background-color: #2196F3;
}

.container-mt-5 {
  height: 700px;
}
/* footer section */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

footer h3 {
  margin-bottom: 30px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .list-inline li {
  display: inline-block;
  margin-right: 10px;
}

footer .list-inline li a {
  color: #fff;
}

footer .bi-bi-facebook {
  color: #fff;
}

.bi {
  font-size: 2.5rem;
}


.card-img-top {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

#map {
  height: 350px;
  width: 100%;
}